section:nth-child(3){
	border: 1px solid #ABA7A7;
	width: 800px;
	overflow: auto;
}
div{
	height: 200px;
	width: 200px;
	float: right;
}
.amarillo{
	background: yellow;
}
.azul{
	background:blue;
}
.rojo{
	background: red;

}